<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="mb-4">
          <c-card-header style="display: inline-flex;">
            <strong>Students</strong> <small></small>
            <!-- <c-form-check sizing="xl" switch style="margin-left: auto;">
              <input cFormCheckInput type="checkbox" checked={{archiveState}} (click)="getCheckState($event)"/>
              <label cFormCheckLabel>Show Archive</label>
            </c-form-check> -->
          </c-card-header>
          <c-card-body>
            <c-spinner id="spinner" variant="grow" color="info" *ngIf="studentLoading" class="table-center"></c-spinner>
            <table [hover]="true" cTable>
              <caption>List of Students retrieved from All Courses</caption>
                <!-- <thead>
                <tr>
                  <th scope="col"></th>
                </tr>
                </thead> -->
                <tbody>
                <tr *ngFor="let name of students || []" class="pointer">
                  <th scope="row">{{name}}</th>
                </tr>
                </tbody>
              </table>
          </c-card-body>
        </c-card>
      </c-col>
</c-row>