<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm class="d-flex flex-column h-100">
                <c-row class="flex-grow-1">
                  <img src="https://www.southernleytestateu.edu.ph/images/2022/Logo_-_Blue.png" alt="">
                  <p style="font-size: 25px; text-align: center ;">Automated Class Record</p>
                  <c-col xs="12" class="d-flex align-items-center">
                    <div class="d-flex justify-content-center flex-grow-1">
                      <button cButton class="px-4 google-button" color="light" (click)="login()">
                        <svg cIcon name="cibGoogle" size="lg" style="margin-right: 5px;"></svg>
                        Sign in with Google
                      </button>
                    </div>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5">
            <c-card-body class="text-center">
              <div>
                <h2>Welcome Teachers</h2>
                <p>
                  Our goal is to help you simplify our work on managing our students' grades.
                  So you can have time to spare for your own.
                </p>
                <p>
                  Please check all the boxes in the pop up when logging in to permit our app to access data from
                  your google classroom. Don't worry, no data when be stored or recorded.
                </p>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
