<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm>
                <h1>Login</h1>
                <p class="text-medium-emphasis">Sign In to your account</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input autoComplete="username" cFormControl placeholder="Username" disabled/>
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Password"
                    type="password"
                    disabled
                  />
                </c-input-group>
                <c-row>
                  <c-col xs="12">
                    <button cButton class="px-4 google-button" color="light" (click)="login()">
                      <svg cIcon
                        name="cibGoogle"
                        size="lg"
                      style="margin-right: 5px;"></svg>
                      Sign in with Google
                    </button>
                    <!-- <button cButton class="px-4" color="primary" (click)="check()">
                      Check
                    </button>
                    <button cButton class="px-4" color="primary" (click)="logout()">
                      logout
                    </button>
                    <button cButton class="px-4" color="primary" (click)="test()">
                      Test Request
                    </button>
                    <button cButton class="px-4" color="primary" (click)="getClass()">
                      Test Get Class Request
                    </button> -->
                  </c-col>
                  <!-- <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      Forgot password?
                    </button>
                  </c-col> -->
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5">
            <c-card-body class="text-center">
              <div>
                <h2>Welcome Teachers</h2>
                <p>
                  Our goal is to help you simplify our work on managing our students' grades.
                  So you can have time to spare for your own.
                </p>
                <p>
                  Please check all the boxes in the pop up when logging in to permit our app to access data from
                  your google classroom. Don't worry, no data when be stored or recorded.
                </p>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
