.pointer:hover{
    cursor: pointer;
}
.self-center{
    place-self: center;
}
.table-center{
    text-align: center;
}
c-card-body {
    position: relative;
}
c-card-body #spinner{
    position: absolute;
    top: 50%;
    left: 45%;
}
.passedColor{
    color: #12bd12 !important;
    font-weight: bold;
}
.failedColor{
    color: red!important;
    font-weight: bold;
}
#grade-table {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
}
#grade-table tbody {
    width: 100%;
}
#grade-table thead{
    width: 100%;
}
// temporary

// #grade-table-temporary {
//     display: block;
//     overflow-x: scroll;
//     white-space: nowrap;
// }
// #grade-table-temporary tbody {
//     width: 100%;
// }
// #grade-table-temporary thead{
//     width: 100%;
// }