<c-row ngPreserveWhitespaces>
  <p>Course ID: {{this.id}}</p>
  <c-col xs="12" lg="12" md="12">
    <c-card class="mb-4">
      <c-card-header style="display: inline-flex;">
        <strong class="self-center">Class Record</strong> <small></small>
        <div style="margin-left: auto;">
          <button (click)="exportToExcel()" cButton color="primary" [disabled]="gradeLoading">
            <svg cIcon class="me-2" name="cilExternalLink"></svg>
            Export
          </button>
          <button (click)="ivkPrint()" cButton color="primary" [disabled]="gradeLoading">
            <svg cIcon class="me-2" name="cilPrint"></svg>
            Print
          </button>
          <!-- <button (click)="test()" cButton color="success" [disabled]="gradeLoading">
            <svg cIcon class="me-2" name="cilPrint"></svg>
            Test
          </button> -->
        </div>
      </c-card-header>
      <c-card-body>
        <c-spinner id="spinner" variant="grow" color="info" *ngIf="gradeLoading" class="table-center"></c-spinner>
        <table [hover]="true" cTable id="grade-table-record" bordered>
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Student No.</th>
                <th scope="col">Surname</th>
                <th scope="col">First Name</th>
                <th scope="col">Middle Name</th>
                <th scope="col">Course</th>
                <th scope="col">Year & Section</th>
                <th scope="col">MT</th>
                <th scope="col">FT</th>
                <th scope="col">Rating</th>
              </tr>
            </thead>
            <tbody>            
            <tr *ngFor="let student of gradeTable; index as i">
              <td>{{i+1}}</td>
              <!-- No student number available from google classroom data -->
              <td></td>
              <td>{{student.surName}}</td>
              <td>{{student.firstName}}</td>
              <!-- No middle name available from google classroom data -->
              <td></td>
              <!-- No Course available from google classroom data -->
              <td></td>
              <!-- No Year and Section available from google classroom data -->
              <td></td>
              <!-- MidTerm Here ! -->              
              <td>
                {{getMidterm(student)}}
              </td>
              <td>
                {{getFinalterm(student)}}
              </td>
              <td>
                {{getFinalRating(student)}}
              </td>
            </tr>
            </tbody>
          </table>
      </c-card-body>
    </c-card>
    <c-card class="mb-4">
      <c-card-header style="display: inline-flex;">
        <strong class="self-center">Course Grades</strong> <small></small>
        <div style="margin-left: auto;">
          <!-- <button (click)="test()" cButton color="success" [disabled]="gradeLoading">
            <svg cIcon class="me-2" name="cilPrint"></svg>
            Test
          </button> -->
        </div>
      </c-card-header>
      <c-card-body>
        <c-spinner id="spinner" variant="grow" color="info" *ngIf="gradeLoading" class="table-center"></c-spinner>
        <table [hover]="true" cTable id="grade-table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Student Name</th>
                <!-- <th scope="col">Overall Grade</th> -->
                <!-- <th scope="col">Final Rate</th> -->
                <th scope="col" *ngFor="let header of gradeTableHeader">
                  {{header.name}}
                </th>
              </tr>
            </thead>
            <tbody>            
            <tr *ngFor="let student of gradeTable; index as i">
              <td>{{i+1}}</td>
              <td>{{student.name}}</td>
              <!-- <td [ngClass]="getRatingClass(student.assignments)"
              >{{getAverage(student.assignments)}}</td> -->
              <!-- <td [ngClass]="getRatingClass(student.assignments)"
              >{{getRating(student.assignments)}}</td> -->
              <td *ngFor="let header of gradeTableHeader">
                {{getGrade(student.assignments[header.id])}}
              </td>
            </tr>
            </tbody>
          </table>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12" lg="12" md="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Course Works</strong> <small></small>
      </c-card-header>
      <c-card-body>
        <c-spinner id="spinner" variant="grow" color="info" *ngIf="workLoading" class="table-center"></c-spinner>
        <table [hover]="true" cTable >
            <thead>
            <tr>
              <th scope="col">Set Point</th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Work Type</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let courseWork of courseWorks?.courseWork || []" class="pointer" >
              <th scope="row">{{courseWork.maxPoints}}</th>
              <td>{{courseWork.title}}</td>
              <td>{{courseWork.description}}</td>
              <td>{{courseWork.workType}}</td>
            </tr>
            </tbody>
          </table>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12" lg="12" md="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Students</strong> <small></small>
      </c-card-header>
      <c-card-body>
        <c-spinner id="spinner" variant="grow" color="info" *ngIf="studentLoading" class="table-center"></c-spinner>
        <table [hover]="true" cTable >
            <thead>
            <tr>
              <th scope="col">Photo</th>
              <th scope="col">Full Name</th>
              <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let student of students?.students || []" class="pointer" (click)="studentProfile(student.userId)">
              <th scope="row">
                <!-- {{student.profile.photoUrl}} -->
                <c-avatar
                  cTextColor="primary"
                  shape="rounded-1"
                  size="md"
                  src={{getStudentProfilePicture(student)}}
                />
              </th>
              <td>{{student.profile.name.fullName}}</td>
              <td>{{student.profile.emailAddress}}</td>
            </tr>
            </tbody>
          </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>